body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: beige !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Header/Navbar styling */
 @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    width: 20%;
    height: 15%;
    margin-top: -3%;
    border-radius: 5%;;
    animation: App-logo-spin infinite 20s linear;
  }
} 

 @keyframes App-logo-spin {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
} 

header{
  text-align: center;
  
}
.logo-tag{
  margin-bottom: -5%;
  font-size: 1rem;
  background-color:#2ecc71;
  width: 42%;
  margin-left: 30%;
  border-radius: 5%;
}
.nav-ico{
  margin-bottom: -19%;
}
.nav-link:hover{
  color: #2ecc71;
  background-color: #10ac84;
}
.navbar-dark .navbar-nav .nav-link {
  color: springgreen !important;
}
.Carousel{
  width: 97% !important;
  height:222px !important;
  margin-left: 1.5%;
}
li, .carousel-control-next, .carousel-control-prev{
  display: none !important;
}
.recent{
  text-align: center !important;
  margin-top: 3%;
  width: 100%;
}

.news-img {
 width: 80%;
 height: 54px;
 margin-bottom: 9%;
 border-radius: 5%;
 }

th{
  width: 25%;
}
td, .note{
  font-size: 0.7rem;
  color: #10ac84;
  margin-left: -3%;
}
.note{
 
  text-align: center;
}

table{
  border-bottom: 1px solid lightsteelblue;
  margin-top: -5%;
  text-align: center;
}

footer{
  text-align: center;
  background-color: black;
  color: #10ac84;
}
.spinner-grow{
  width: 1rem !important;
  height: 1rem !important;
}


.lastAd, .news-border{
  width: 97% !important;
  height:222px !important;
  margin-left: 1.5%;
  display: inline !important;
}
.musTitle{
  color: #2ecc71;
  font-size: 0.7rem;
}
.musVid{
  width: 30%;
  padding-left: 3%;
  padding-top: 2%;
}

/* Very Small Devices (Iphone 4 and 4S) */

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .logo-tag{
      width: 49%;
      margin-left: 25%;
    }

    .musTitle{
      padding-left: 20%;
      font-size: 0.8rem;
    }
    .musVid{
      width: 100%;
      padding-left: 3%;
    }
  
  }

    /* ----------- Galaxy S5----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 360px) 
and (max-device-width: 640px) 
and (-webkit-min-device-pixel-ratio: 2) { 

  td, .note {
    font-size: 0.8rem;
  }

  .musVid{
    padding-left: 19%;
  }
}

  /* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2) { 

  td, .note {
    font-size: 0.8rem;
  }

  .musVid{
    padding-left: 19%;
  }
}

 /* ----------- Pixel 2 and Pixel XL ----------- */

@media only screen 
and (min-device-width: 411px) 
and (max-device-width: 731px) 
and (-webkit-min-device-pixel-ratio: 2) { 

  .musTitle{
    padding-left: 25%;
  }
  .musVid{
    padding-left: 25%;
  }
}

/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

    .App-logo{
      margin-left: 15%;
    }

   .logo-tag{
     width: 35%;
     height: 30px;
     padding-top: 1%;
     margin-left: 40%;
   }

   .Carousel{
     height: 380px !important;
    }
    .btn-success{
     font-size: 2rem !important;
   }
   .nav-link {
    font-size: 2rem;
  }

   th{
    width: 45%;
    height: 10px;
    text-align: center !important;
  }
  td, .note{
    font-size: 1.1rem;
    color: #10ac84;
    margin-left: -6%;
    text-align: center;
  }
  
  table{
    margin-top: -1%;
  }
  .news-img {
    width: 85%;
    height: 120px;
    margin-bottom: 4%;
    border-radius: 5%;
    margin-left: -9%;
}

.lastAd, .news-border {
  height: 380px !important;
}
figure{
  display: table-row;
}

}

/* ----------- iPad Pro 12.9" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {

.App-logo {
  width: 50%;
  margin-top: 0%;
  float: left;

}
.logo-tag {
  width: 20%;
  float: left;
  margin-left: -1%;
  position: absolute;
  top: 80%; 
  padding-top: 0.5%;
  font-size: 1.3rem;
}

.nav-link {
  display: block;
  padding: .9rem 1rem;
  font-size: 1.7rem;
}
#mat-icon{
  font-size: 2rem;
  margin-left: 35%;
}
.spinner-grow{
  width: 2rem !important;
  height: 2rem !important;
  margin-left: 40%;
}
.Carousel, .lastAd{
  height: 500px !important;;
  margin-top: 1%;
}
.news-img{
  width: 90%;
  height: 200px;
  margin-left: -4%;
}
.note{
  font-size: 1.8rem;
}
.musTitle{
  font-size: 1.3rem;
}
.musVid{
  width: 101%;
  padding-left: 3%;
}

footer{
  height: 175px;
}
h6, p{
  font-size: 2rem !important;
  margin-right: 30%;
  padding-top: 7% !important;
}
p{
  margin-top: -6% !important;
  margin-left: 28%;
  
}

.spinner-grow-foot-one{
  margin-right: 5%;
}

.spinner-grow-foot{
  margin-left: 5%;
}
}

/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

.App-logo{
      float: left;
    }
.logo-tag{
  text-align: left;
  position: absolute;
  bottom: 45%;
  right: 88%;
  width: 12%;
  padding-left: 1.5%;
}

.nav-link {
  display: block;
  padding: .9rem 1rem;
  font-size: 1.8rem;
}
#mat-icon{
  font-size: 2.5rem;
  margin-left: 35%;
}
.spinner-grow{
  width: 2rem !important;
  height: 2rem !important;
  margin-left: 40%;
}
.Carousel, .lastAd{
  width: 70% !important;
  height: 350px !important;
  margin-top: 1%;
  margin-left: 15%;
  border-radius: 2%;
}
.lastAd{
  height: 400px !important;
}

.btn-success{
  font-size: 2rem !important;
}
.news-img{
  width: 90%;
  height: 200px;
  margin-left: -4%;
  margin-top: 20%;
}
.note{
  font-size: 1.8rem;
  margin-left: 3%;
}
.musTitle{
  font-size: 1.3rem;
  margin-left: 0%;
}
.musVid{
  width: 105%;
  padding-left: 3%;
  margin-top: 5%;
}

footer{
  height: 175px;
}
h6, p{
  font-size: 2rem !important;
  margin-right: 30%;
  padding-top: 7% !important;
}
p{
  margin-top: -8% !important;
  margin-left: 28%;
  
}

.spinner-grow-foot-one{
  margin-right: 3%;
  
}

.spinner-grow-foot{
  margin-left: 3%;
  margin-top: 1%;
}


}
